<div class="container-fluid">
  <div class="row">
    <div
      class="d-flex align-items-center flex-column bg-grey py-4 px-4 le-nostre mt-3"
    >
      <h1>Le nostre {{ brand }}</h1>
      <img src="{{ brandLogo }}" style="width: 10em" />
      <div class="mt-4">
        <p class="fst-italic fs-4">
          Innovazione accessibile, affidabilità garantita. Le Ford incarnano la
          perfetta fusione tra innovazione tecnologica, affidabilità e
          accessibilità. Ogni modello Ford è progettato per soddisfare le
          esigenze dei conducenti moderni, offrendo soluzioni avanzate di
          sicurezza, efficienza nei consumi e comfort su misura. Dal versatile
          SUV EcoSport alla robusta pick-up Ranger, passando per la leggendaria
          Mustang e la pratica Fiesta, Ford propone una gamma di veicoli adatta
          a ogni stile di vita e necessità. Con un design audace e funzionalità
          intelligenti, le auto Ford non solo migliorano la tua esperienza di
          guida, ma lo fanno con un occhio di riguardo per l'ambiente. Con Ford,
          la strada verso il futuro è alla portata di tutti.
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div
      class="col-12 d-flex justify-content-center mb-3"
      *ngFor="let auto of autos"
    >
      <div
        class="card"
        style="width: 50em"
        [ngClass]="{
          'bg-success': auto.available,
          'bg-danger': !auto.available
        }"
      >
        <img
          src="{{ auto.modelImage }}"
          class="card-img-top"
          alt="{{ auto.brand }} {{ auto.model }}"
        />
        <div class="card-body">
          <h5 class="card-title h2">{{ auto.brand }} {{ auto.model }}</h5>
          <p class="card-text h4">
            <span class="badge me-1 text-uppercase">Anno: {{ auto.year }}</span>
            <span class="badge me-1 text-uppercase"
              >Prezzo: {{ auto.price }}</span
            >
            <span
              *ngIf="auto.available; else elseSpan"
              class="badge me-1 text-uppercase"
              >Pronta consegna: sì</span
            >
            <ng-template #elseSpan>
              <span class="badge me-1 text-uppercase">Pronta consegna: no</span>
            </ng-template>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
