<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="https://media.istockphoto.com/id/1642381175/vector/cinema.jpg?s=612x612&w=0&k=20&c=owIct55daWlWRwPbTYLI9Y1IsrgYiqJcpvvgycvxBhE="
        class="d-block mx-lg-auto img-fluid"
        alt="logo"
      />
    </div>
    <div class="col-lg-6 testo-centrale">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
        Benvenuto da BagaFilmUp
      </h1>

      <p class="lead">
        Esplora il meraviglioso mondo del cinema con BagaFilmUp, il tuo compagno
        definitivo per l'intrattenimento cinematografico. Siamo qui per portarti
        in un viaggio attraverso le emozioni, le avventure e le storie che solo
        il grande schermo può offrire. <br />
        Su <b>BagaFilmUp</b>, potrai scoprire una vasta selezione di film di
        ogni genere e periodo, dalle ultime uscite hollywoodiane ai classici
        senza tempo. Che tu sia un appassionato cinefilo o semplicemente alla
        ricerca di una serata di puro divertimento, troverai esattamente ciò che
        fa per te.
      </p>
    </div>
  </div>
</div>
