<div class="container mt-4">
  <form>
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Cognome</label>
      <input type="text" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" />
    </div>
    <div class="mb-3">
      <label class="form-label">Conferma Password</label>
      <input type="password" class="form-control" />
    </div>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Scegli il tuo genere</option>
        <option value="uomo">Uomo</option>
        <option value="donna">Donna</option>
        <option value="altro">Altro</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" />
      <label class="input-group-text" for="inputGroupFile02">Carica</label>
    </div>
    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingTextarea"
      ></textarea>
      <label for="floatingTextarea">La tua biografia</label>
    </div>
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Iscriviti</button>
  </form>
</div>
