<div class="container-fluid">
  <div class="row mt-1">
    <div class="d-flex align-items-center flex-column bg-grey py-4">
      <h2 class="my-4">Il tuo autosalone di fiducia</h2>
    </div>

    <div class="col-12 d-flex justify-content-center marchi-auto">
      <ul class="d-flex align-items-center">
        <li
          class="list-unstyled mx-5"
          *ngFor="let uniqueBrandLogo of uniqueBrandLogos"
          id="logo-stile"
        >
          <img src="{{ uniqueBrandLogo }}" alt="" style="width: 10em" />
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6" *ngFor="let randomAuto of randomAutos">
      <div class="card">
        <img
          src="{{ randomAuto.modelImage }}"
          class="card-img-top img-fluid"
          alt="imgAuto"
        />
        <div
          class="card-body d-flex flex-column justify-content-center"
          [ngClass]="{
            'bg-success': randomAuto.available,
            'bg-danger': !randomAuto.available
          }"
        >
          <div>
            <h5 class="card-title text-center border border-black">
              {{ randomAuto.brand }} - {{ randomAuto.model }}
            </h5>
            <p class="card-text text-center">
              Anno di uscita: {{ randomAuto.year }}
            </p>
            <p class="card-text text-center">
              Prezzo: {{ randomAuto.price }} $
            </p>
            <p
              class="card-text bg-success text-center"
              *ngIf="randomAuto.available"
            >
              Disponibile
            </p>
            <p
              class="card-text bg-danger text-center"
              *ngIf="!randomAuto.available"
            >
              Non Disponibile
            </p>
          </div>
          <hr />
          <div>
            <a
              routerLink="/{{ randomAuto.brand.toLowerCase() }}"
              class="text-decoration-none"
            >
              <span
                class="btn btn-primary px-3 py-3 text-center d-flex justify-content-center"
                >Tutte le nostre: {{ randomAuto.brand }}</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
